<a href="/admin/breweries/{{brewery.id}}">
  <button>Back</button>
</a>
<form action="/admin/breweries/{{brewery.id}}?_method=PUT" method="post">
  <button type="submit" class="">Edit Brewery</button>
  </br>
  <label for="name">Name</label>
  <input value="{{brewery.name}}" type="text" id="name" name="name" placeholder="i. e. Ol' Watering Hole">
  </br>
  <label for="city">City</label>
  <input value="{{brewery.city}}" type="text" id="city" name="city" placeholder="i. e. East Nowherelington">
  </br>
  <label for="latitude">Latitude</label>
  <input value="{{brewery.latitude}}" type="text" id="latitude" name="latitude" placeholder="i. e. 0"></input>
  </br>
  <label for="longitude">Longitude</label>
  <input value="{{brewery.longitude}}" type="text" id="longitude" name="longitude" placeholder="i. e. 180"></input>
</form>
